/* :global(){} */
#RedPacket{
  width: 100%;
  background-image: url(../../images/red/bg.png) !important;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  padding-top: 10px;
  padding-bottom: 30px;
}
.RedPacket{
  width: auto;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.paytab{
  width: 700px;
  height: 50px;
  line-height: 50px;
  border-radius:25px;
  margin: 40px auto;
  padding: 0 10px;
  text-align: center;
  background:rgba(150,30,26,1);
  box-shadow:0px 0px 50px 0px rgba(3,0,0,0.34);
  white-space: nowrap;
  display: flex;
  justify-content: space-around;
}
.paytab>span{
  display: inline-block;
  padding: 0 46px;
  font-size: 20px;
  vertical-align: top;
}
.paybtn,.paybtnPop{
  display: inline-block;
  width:200px;
  height:60px;
  line-height: 60px;
  background:rgba(236,231,101,1);
  border-radius:30px;
  margin-top: -10px;
  font-size:24px;
  color:rgba(119,70,30,1);
  cursor: pointer;
  box-shadow: 0px 10px 0 rgba(206,154,64,1);
}
.paybtnPop{
  margin-top: 30px;
}
.widPop{
  margin: 74px auto 25px !important;
}

:global(#selcetNum .ant-radio-button-wrapper){
  display: inline-block;
  width:200px;
  height:50px;
  line-height: 50px;
  text-align: center;
  border-radius:25px;
  color: #fff;
  border: 1px solid rgba(237,211,146,1);
  background: transparent;
  font-size:20px;
  margin: 0 20px;
}
:global(#selcetNum .ant-radio-button-wrapper-checked){
  color:rgba(119,70,30,1);
  background:rgba(237,211,146,1);
  box-shadow: none;
}
.withdraw>div:nth-of-type(2)>label{
  color:#fff !important;
  background:transparent !important;
}
:global(#selcetNum .ant-radio-button-wrapper:not(:first-child)::before){
  display: none;
}
.withdraw{
  margin: 0 auto 20px;
  text-align: center;
  white-space: nowrap;
}
#dialog{
  border:4px solid rgba(251,232,196,1);
  border-radius:11px;
  padding: 15px 15px 10px 10px;
  position: relative;
  /* margin-bottom: 20px; */
}
.dialog{
  height: 800px;
  border-radius:11px;
  /* padding: 80px 20px; */
  padding: 20px 2%;
  background:rgba(150,30,26,1);
  box-shadow: 10px -10px 20px 0px rgba(3,0,0,0.6);
  /* box-shadow:0px 0px 50px 0px rgba(3,0,0,0.34); */
  /* box-shadow: 10px -10px 0px rgba(150,30,26,1); */
  overflow-y: scroll;
}
.dialog::-webkit-scrollbar {/*滚动条整体样式*/
  width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
  position: relative;
}
.dialog::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: #3c4771;
  background: rgba(255, 255, 255, 0.1);
}
#dialogTop{
  width: 96%;
  padding-top: 30px;
  background: rgba(150,30,26,1);
  position: absolute;
  top: 15px;
  left: 2%;
  z-index: 3;
}
#dialogTop p{
  margin: 0 auto 20px;
  text-align: center;
  font-size: 16px;
}
.packet{
  width:400px;
  height:170px;
  background:rgba(230,136,94,1);
  border-radius:0px 30px 30px 30px;
  position: relative;
  overflow: hidden;
}
.chatRight .packet{
  border-radius:30px 0px 30px 30px;
}
.packet p{
  display: block;
  width: 100%;
  background:rgba(255,255,255,1);
  color:rgba(114,109,95,1) !important;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 0;
  padding: 0 20px;
}
.redBg{
  position: absolute;
  width:340px;
  height:340px;
  border-radius: 50%;
  background:rgba(212,115,75,1);
  top: -100px;
}
.chatLeft .redBg{
  left: -240px;
}
.chatRight .redBg{
  right: -240px;
}
.redOpen{
  font-size:24px;
  color:rgba(114,109,95,1) !important;
  width:60px;
  height:60px;
  line-height: 54px;
  text-align: center;
  background:rgba(236,231,101,1);
  border-radius:50%;
  position: absolute;
  top: 43px;
  z-index: 1;
  cursor: pointer;
  border: 3px solid rgba(206,154,64,1);
  /* box-shadow: 0px 0px 0px rgba(206,154,64,1); */
}
.redTextChat{
  font-size: 20px;
  position: absolute;
  top: 58px;
  left: 142px;
  z-index: 2;
}
.redCountTime{
  position: absolute;
  top: 62px;
  right: 10px;
  z-index: 2;
}
.redCountTime>span{
  display: inline-block;
  width: 30px;
  text-align: center;
  background: rgba(0,0,0,0.2);
  border-radius: 2px;
}

.chatLeft .redOpen{
  left: 70px;
}
.chatRight .redOpen{
  right: 70px;
}
.chatRight{
  text-align: right;
}
#dialogTop span{
  margin: 0 10px;
}
#chat{
  width: 100%;
  padding-bottom: 100px;
}
#chat .chat>div{
  display: inline-block;
  vertical-align: top;
}
.packetAll{
  padding: 0 20px;
}
.packetAll p{
  font-size:16px;
  color:rgba(255,255,255,1);
}
/* 中间消息框 */
.chatTips{
  text-align: center;
  margin: 2% auto;
}
.chatTips>div{
  display: inline-block;
  padding: 0 20px;
  height:40px;
  line-height: 40px;
  font-size:14px;
  background:rgba(255,255,255,0.3);
  border-radius:20px;
}
.chatTips>div span{
  color:#ECE765;
  font-size: 16px;
}
.chatTips>div img{
  width: 22px;
  margin-left: 10px;
  margin-top: -4px;
}
.chong{
  height:417px;
  background:rgba(212,115,75,1);
  border:10px solid rgba(230,136,94,1);
  border-radius:20px;
  margin-top: -42px;
  margin-left: -24px;
  position: relative;
  z-index: 20;
}
.close{
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  color: #fff;
  background: #E6885E;
  font-size: 36px;
  border-radius: 20px 0 20px 0;
  position: absolute;
  top: -10px;
  left: -10px;
  cursor: pointer;
}
.close i{
  font-size: 36px !important;
}
.close:hover i{
  color: #691512;
}
.chong>p{
  font-size:28px;
  display: block;
  margin: 70px auto 50px;
  margin: 35px auto 25px;
  text-align: center !important;
}
.chong>p:nth-of-type(2){
  font-size: 20px;
}
:global(.chongInt){
  width:600px;
  height:80px;
  background:rgba(163,46,40,1);
  box-shadow:0px 0px 50px 0px rgba(3,0,0,0.34);
  border-radius:10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
:global(.chongInt .ant-cascader-picker){
  color: #fff;
  background: transparent;
  font-size:24px;
}
:global(.chongInt .ant-input:focus){
  box-shadow: none;
}
:global(.chongInt .ant-input-number){
  display: inline-block;
  color: #ffffff;
  height: 60px;
  margin-top: 10px;
  border: none;
  background:rgba(163,46,40,1);
}
#selectBtn,:global(.ant-select-selection-selected-value){
  width: 100px;
  text-align: center;
  height:80px;
  line-height: 80px;
  font-size:24px;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
}
:global(.ant-select-selection){
  min-width: 111px;
  height: 80px;
  line-height: 80px;
  background:rgba(163,46,40,1);
  border-right: 1px solid rgba(163,46,40,1);
  border:none;
  overflow: hidden;
  border: none;
  box-shadow: none;
}
:global(.ant-select-focused .ant-select-selection),
:global(.ant-select-selection:focus),
:global(.ant-select-selection:active){
  border:none;
  overflow: hidden;
  border: none;
  box-shadow: none;
}
:global(.ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled)),
:global(.ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled):hover),
:global(.chongInt .ant-cascader-menu-item:hover),


:global(.chongInt .ant-btn){
  display: inline-block;
  width:68px;
  height:68px !important;
  font-size:24px;
  margin: 6px 3px 6px 3px;
  background:rgba(201,86,65,1);
  border-radius:10px;
}
:global(.chongInt .ant-input-number-input){
  height: 60px;
  line-height: 60px;
  font-size:24px;
}
/* 提现 */
:global(.withdrawPop .ant-radio-wrapper){
  color:#fff;
  position: relative;
  font-size:28px;
  margin: 0 35px;
}
:global(.withdrawPop .ant-radio-inner){
  width: 36px;
  height: 36px;
  border: 3px solid #691512;
  background: #C95641;
  position: relative;
  z-index: 1;
  margin-right: 20px;
}
:global(.withdrawPop .ant-radio-inner:after),
:global(.withdrawPop .ant-radio-wrapper:hover .ant-radio .ant-radio-inner),
:global(.withdrawPop .ant-radio:hover .ant-radio-inner),
:global(.withdrawPop .ant-radio-focused .ant-radio-inner)
{
  border-color: #691512;
  outline: none;
}
:global(.withdrawPop .ant-radio){
  opacity: 1;
}
:global(.withdrawPop .ant-radio-checked),
:global(.withdrawPop .ant-radio-inner:after){
  opacity: 0;
}
:global(.withdrawPop .anticon){
  color: #691512;
  font-size: 36px;
  position: absolute;
  left: 0px;
  top: 2px;
}
:global(.withdrawPop .anticon-check-circle){
  display: inline-block;
  background: #C95641;
  border-radius: 50%;
}
/* 开红包 */
#openRed,#opened{
  width: 480px;
  height: 500px;
  /* background: rgba(214, 151, 123, 1); */
  overflow: hidden;
  margin-left: 0;
}
#openRed>p,#opened>p{
  color: #ffd591;
  font-size: 20px !important;
  margin: 0 auto 20px;
  font-weight: bolder;
}
#openRed>p img,#opened>p img{
  width: 60px;
  margin-bottom: 10px;
}
#opened>p img{
  margin-top: 10px;
}
#openRed .redContent{
  position: relative;
  padding-bottom: 100px;
}
#openRed .redContent p{
  font-size: 32px;
  display: block;
  color: #f3e994;
  text-align: center !important;
  margin-top: 50px;
  font-weight: bolder;
}
#openRed .redContent>div:nth-of-type(1),
#openRed .redContent p,
#openRed>p,
#openRed>.close,
#opened>.close,
#opened>p
{
  position: relative;
  z-index: 2;
}
#opened>.close{
  background: none !important;
}
#openRed .redContent>div:nth-of-type(1){
  width: 114px;
  border-radius: 50%;
  margin: 0 auto;
  background-color: #ec6c2f;
  padding: 7px;
  /* 旋转 */
  /* transition: All 0.4s ease-in-out;
  -webkit-transition: All 0.4s ease-in-out;
  -moz-transition: All 0.4s ease-in-out;
  -o-transition: All 0.4s ease-in-out; */
}
.redTransform{
  transition: 0.5s;
  transform-origin: 57px 57px;
  animation: rotate 5s linear infinite;
}
@keyframes rotate{
  0%{
    -moz-transform:scaleX(0);
    -webkit-transform:scaleX(0);
    -o-transform:scaleX(0);
    transform:scaleX(0);
    filter:FlipH();
  }
  16%{
    -moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
    filter:FlipH();
  }
  32%{
    -moz-transform:scaleX(0);
  -webkit-transform:scaleX(0);
  -o-transform:scaleX(0);
  transform:scaleX(0);
  filter:FlipH();
  }
  48%{
    -moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
    filter:FlipH();
  }
  64%{
    -moz-transform:scaleX(0);
    -webkit-transform:scaleX(0);
    -o-transform:scaleX(0);
    transform:scaleX(0);
    filter:FlipH();
  }
  84%{
    -moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
    filter:FlipH();
  }
  100%{
    -moz-transform:scaleX(0);
    -webkit-transform:scaleX(0);
    -o-transform:scaleX(0);
    transform:scaleX(0);
    filter:FlipH();
  }
}
/* #openRed .redContent>div:nth-of-type(1):hover
{
  -moz-transform:scaleX(-1);
  -webkit-transform:scaleX(-1);
  -o-transform:scaleX(-1);
  transform:scaleX(-1);
  filter:FlipH();
} */
#openRed .redContent>div:nth-of-type(1)>div{
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 32px;
  color: #8e290d !important;
  background: linear-gradient(to bottom, #fff672, #e9d22e);
  border: 6px solid #f6e444;
  /* box-shadow: 0px 0px 10px 10px #ec6c2f; */
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
#openRed .redContent>div:nth-of-type(2),.openedShadow{
  position: absolute;
  left: 50%;
  margin-left: -400px;
  display: block;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background-color: #e47442;
  z-index: 1;
}
#openRed .redContent>div:nth-of-type(2){
  bottom: 150px;
}
#openRed .redContent>div:nth-of-type(3){
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 300px;
  /* background:  linear-gradient(to bottom, rgba(255, 255, 255, .1),rgba(214, 151, 123, 1)); */
  background:  linear-gradient(to bottom, rgba(255, 255, 255, 0),rgba(255, 255, 255, .3));
}
/* 红包结果 */
#opened{
  background-color: #fff;
  border: none;
  height: 530px;
}
#opened ul li span{
  color: #444;
}
#opened>p{
  margin-bottom: 0px;
}
#opened .openedShadow{
  top: -680px;
}
#opened .openedContent>p{
  display: block;
  width: 100%;
  font-size: 16px;
  color: #444;
  text-align: center !important;
  margin: 0 auto;
}
#opened .openedContent>p span{
  font-size: 26px;
  margin: 0 5px;
}
#opened .openedContent ul{
  height: 320px;
  overflow-y: scroll;
}
#opened .openedContent ul::-webkit-scrollbar {/*滚动条整体样式*/
  width: 0px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 0px;
}
#opened .openedContent ul::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  /* border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: #3c4771;
  background: rgba(255, 255, 255, 0.1); */
}
#opened .openedContent ul li{
  display: flex;
  justify-content: space-between;
  padding: 10px 5%;
  width: 100%;
  background-color: #f8f5f0;
  margin-top: 5px;
  border-top: 1px solid #f4f0f1;
  border-bottom: 1px solid #f4f0f1;
}
#opened .openedContent ul li span{
  font-size: 16px;
}
#opened .openedContent ul li span:nth-of-type(1){
  color: #d7bbb0;
  width: 6%;
  text-align: left;
}
#opened .openedContent ul li span:nth-of-type(2){
  text-align: left;
  width: 60%;
}
#opened .openedContent ul li span:nth-of-type(3){
  width: 32%;
  text-align: right;
}
/* 小咖啡 */
#opened .redWait{
  display: inline-block;
  margin-left: 30px;
  display: none;
}
#opened .redWait img,#opened .redFire img{
  width: 20px;
  margin-left: 5px;
  vertical-align: top;
}
#opened .redFire img{
  margin-top: 2px;
}
/* 最低额 */
#opened .redFire{
  margin-right: 5px;
  display: none;
}
/* 金额 */
#opened .redText{
  /* display: none; */
}
/* 游戏规则 */
.rule{
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  top: -30px;
  right: 20px;
  text-align: center;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid rgba(237,211,146,1);
}
#rulePop{
  height: auto;
}
#rulePop>p{
  margin-bottom: 0;
}
.rulePop{
  padding: 20px;
}
.rulePop>div{
  font-size: 18px;
  margin-bottom: 10px;
  text-align: left;
}
#myBalance img{
  position: relative;
  left: 0;
  margin-right: 10px;
}
#myBalance>div>p:nth-of-type(2)>img{
  top: -1px;
}
#myBalance span{
  width: auto;
  position: relative;
  left: 0;
}
@media screen and (max-width: 776px) {
  #myBalance{
    margin: 50px auto -46px;
  }
  .rule{
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    padding: 0 10px;
  }
  .rulePop>div{
    font-size: 14px;
  }
  :global(#selcetNum .ant-radio-button-wrapper){
    width: 60px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    padding: 0px;
    margin: 0 5px;
  }
  #RedPacket{
    background-size: contain;
    -webkit-background-size: contain;
    -o-background-size: contain;
    -moz-background-size: contain;
    -ms-background-size: contain;
    background-repeat: repeat-y;
  }
  .RedPacket{
    margin-top: 85px;
    margin-top: 75px;
  }
  .paytab{
    width: 90%;
    height: 25px;
    margin: 20px auto;
    line-height: 25px;
  }
  .paytab>span{
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    padding: 0 6px;
  }
  .paybtn{
    margin-top: -3px;
    width: 100px;
    box-shadow: 0px 5px 0 rgba(206,154,64,1);
  }
  #dialog{
    margin: 30px;
  }
  .dialog{
    height: 350px;
  }
  #dialogTop{
    width: 88%;
    left: 5%;
    top: 15px;
    padding-top: 10px;
  }
  #dialogTop p{
    margin: 0 auto 10px;
  }
  .packet{
    width: 200px;
    height: 85px;
    border-radius: 0px 15px 15px 15px;
  }
  .chatRight .packet{
    border-radius: 15px 0px 15px 15px;
  }
  .packetAll{
    padding: 0 10px;
  }
  .chatLeft .redBg {
    left: -276px;
  }
  .chatRight .redBg {
    right: -276px;
  }
  .redOpen{
    width: 42px;
    height: 42px;
    line-height: 38px;
    font-size: 14px;
    top: 10px;
  }
  .chatLeft .redOpen{
    left: 42px;
  }
  .chatRight .redOpen{
    right: 46px;
  }
  .packetAll>p{
    margin-bottom: 5px;
  }
  .chat{
    white-space: nowrap;
    margin-bottom: 10px;
  }
  .chat img{
    width: 30px;
  }
  .chatTips>div {
    padding: 0 20px;
    height: auto;
    line-height: 26px;
    font-size: 12px;
    border-radius: 20px;
  }
  .chong {
    width: 300px;
    height: 220px;
    margin-top: 40px;
  }
  :global(.chongInt){
    width: auto;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
  }
  #selectBtn{
    width: 50px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    top: 0px;
  }
  :global(.chongInt .ant-btn){
    width: 32px;
    height: 32px !important;
    font-size: 12px;
    margin: 4px 2px;
    border-radius: 4px;
    position: relative;
  }
  :global(.chongInt .ant-btn span){
    display: block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    left: 0;
    top: 0;
    position: absolute;
  }
  :global(.chongInt .ant-input-number) {
    height: 40px;
    margin-top: 0px;
  }
  :global(.chongInt .ant-input-number-input){
    height: 40px;
    line-height: 40px;
    margin-top: 0;
    font-size: 14px;
  }
  :global(.ant-cascader-picker-arrow){
    top: 56%;
    right: -2px;
  }
  .chong>p{
    font-size: 18px;
    margin: 15px auto;
  }
  .close {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .close i{
    position: absolute;
    top: 12px;
    left: 0px;
    font-size: 16px !important;
  }
  .chong>p:nth-of-type(2){
    font-size: 14px;
    padding: 0 30px;
    text-align: left;
  }
  .paybtnPop {
    width: 100px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    margin-top: 10px;
    font-size: 16px;
    -webkit-box-shadow: 0px 5px 0 rgba(206,154,64,1);
    box-shadow: 0px 5px 0 rgba(206,154,64,1);
  }
  :global(.withdrawPop .ant-radio-wrapper){
    margin:0 5px;
    font-size: 18px;
  }
  :global(.withdrawPop .ant-radio-inner){
    width: 20px;
    height: 20px;
  }
  :global(.withdrawPop .anticon) {
    font-size: 20px;
    left: 0px;
    top: 2px;
  }
  :global(.withdrawPop .ant-radio){
    width: 20px;
    top: -2px;
  }
  .tixian .widPop{
    text-align: center !important;
    margin-top: 40px !important;
  }
  /* 开红包弹框 */
  #openRed, #opened{
    width: 280px;
    height: 320px;
  }
  #opened{
    height: 370px;
    margin: 0 auto;
    left: -14px;
  }
  #openRed .redContent p{
    font-size: 24px;
    margin-top: 20px;
  }
  #openRed>p, #opened>p{
    font-size: 16px !important;
  }
  #openRed .redContent>div:nth-of-type(2) {
    bottom: 130px;
  }
  #openRed .redContent>div:nth-of-type(1)>div{
    width: 50px;
    height: 50px;
    line-height: 40px;
    font-size: 20px;
  }
  #openRed .redContent>div:nth-of-type(1){
    width: 64px;
  }
  .redTransform{
    transform-origin: 37px 37px;
  }
  #opened .close{
    top: 10px;
    left: 10px;
  }
  #opened .openedShadow{
    top: -720px;
  }
  #opened .redWait img,
  #opened .redFire img{
    width: 12px;
    margin-top: 4px;
  }
  #opened .redWait{
    margin-left: 10px;
  }
  #opened .openedContent ul{
    height: 200px;
  }
  #selectBtn,:global(.ant-select-selection-selected-value){
    width: 80px;
    height:40px;
    line-height: 40px;
    font-size:16px;
  }
  :global(.ant-select-selection){
    min-width: 82px;
    height: 40px;
    line-height: 40px;
  }
  :global(.ant-select-selection__rendered){
    margin: 0;
    padding-right: 10px;
  }
}
